<%= image_tag "uhoh/warning.png" %>
<h1>Failures</h1>
<ul>
  <% for failure in @failures %>
  <li id='failure_<%= failure.id%>' class="list"><%= failure.message %></li>
  <% end %>
</ul>


<script type="text/javascript">
	
	
</script>


<p><%= link_to "Failures", root_url %></p>

<p><%= link_to "Simulate Failure", main_app.simulate_failure_path %></p>
